body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/************* App *************/

.app {
  width: 800px;
  margin: 25px auto;
}


/************* Badge *************/

.badge {
  font-weight: 500;
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 4px;
  background-color: #F3F4F6;
}

.pill {
  border-radius: 9999px;
}

.red {
  color: #991B1B;
  background-color: #FEE2E2;
}

.yellow {
  color: #92400E;
  background-color: #FEF3C7;
}

.green {
  color: #065F46;
  background-color: #D1FAE5;
}

.blue {
  color: #1E40AF;
  background-color: #DBEAFE;
}

.indigo {
  color: #3730A3;
  background-color: #E0E7FF;
}

.purple {
  color: #5B21B6;
  background-color: #EDE9FE;
}

.badges {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}


/************* Banner *************/

.banners {
  margin-top: 2em;
}

.banner {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  border-radius: 6px;
}

.banner p {
  margin: 0;
}

.banner>svg {
  margin-right: 1em;
  width: 20px;
  height: 20px;

}

.banner-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text {
  font-size: 1em;
}

.banner-title {
  font-weight: 600;
}

.banner-body {
  margin-top: 8px;
  font-weight: 400;
}

/*** Success ***/

.success {
  background-color: #ECFDF5;
}

.success-icon {
  color: #34D399;
}

.success-title {
  color: #065F46;
}

.success-body {
  color: #047857;
}

/*** Warning ***/

.warning {
  background-color: #FFFBEB;
}

.warning-icon {
  color: #FBBF24;
}

.warning-title {
  color: #92400E;
}

.warning-body {
  color: #B45309;
}

/*** Error ***/

.error {
  background-color: #FEF2F2;
}

.error-icon {
  color: #F87171;
}

.error-title {
  color: #92400E;
}

.error-body {
  color: #B45309;
}

/*** info ***/

.info {
  background-color: #EFF6FF;
}

.info-icon {
  color: #60A5FA;
}

.info-title {
  color: #1E40AF;
}

.info-body {
  color: #1C51B9;
}